* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

x-deck x-card:nth-child(2n) {
	display: flex;
	flex-direction: column;
}

x-deck x-card:nth-child(2n) cmpsr-pattern {
	flex: auto;
	overflow-y: auto;
	border: 1px solid green;
}

x-deck x-card:nth-child(2n) div {
	height: 50px;
	border: 1px solid red;
}
